# This is a basic workflow to help you get started with Actions
on: 
  push:
    branches: [ flutter ]
  pull_request:
    branches: [fliutter ]
name: Flutter tests
jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps: 
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with: 
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with: 
          flutter-version: '1.17.0'
      - run: flutter pub get
      - run: flutter test
      - run: flutter build apk --debug --split-per-abi
      - name: Create Release APK
        uses: ncipollo/release-action@v1
        with:
         artifacts: "build/app/outputs/apk/debug/*.apk"
         token: ${{ secrets.TOKEN }}

